:3128 {
  route {
    forward_proxy {
      basic_auth binjuhor kARNEn9GfdFrU77kVN
      hide_ip
      hide_via
      probe_resistance secret.domain
    }

    respond "Forward proxy is working"
  }
}
